h1 {
  color: red;
}

.message {
  border: 1px solid;
  padding: 4px;
  border-radius: 8px;
  max-width: 300px;
}

.dialog-auth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-auth {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); eto dlja otcentrovki */

  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
}

.dialog-auth button {
  display: block;
}
