@import url('main/herocat.css');
@import url('main/join.css');
@import url('main/main.css');

:root {
  background-color: #ffc308;
  padding: 30px;
}

h1 {
  color: black;
}

.message {
  border: 1px solid;
  padding: 4px;
  border-radius: 8px;
  max-width: 300px;

  position: relative;
}

.dialog-auth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-auth {
  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
}

.dialog-auth button {
  display: block;
}

.message-of-mine {
  margin-left: 35px;
}

.config-button {
  position: absolute;
  top: 6px;
  right: 6px;
}

.message-config {
  position: absolute;
  width: 100px;
  height: 40px;
  border: 1px solid;
}
